<!DOCTYPE html>
<html>
    <head>
        <title>Record time</title>
    </head>

    <body>
        Who are you?
        
        <form>
            {{ range $tm := .Teams }}
            <input type="submit" formaction="/record-time?qrcode={{ $.QRCode }}&team={{ $tm }}" value="{{ $tm }}">
            {{ end }}
        </form>
    </body>

</html> 