<!DOCTYPE html>
<html>
    <head>
        <title>Time recorded!</title>
        <meta charSet="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            :root {
                --vertical-space: 1.6rem
            }
            @keyframes bg-paralax {
                from {
                    background-position: 0%;
                }
                to {
                    background-position: 93%;
                }
            }
            body {
                /* background-color: #252525; */
                background-color: #04091d;
                
                font-family: sans-serif;
                color: whitesmoke;
                display: flex;
                justify-content: center;
                font-size: 1.6rem;
                margin: 0;
                padding: 1rem;
                height: calc(100vh - 2rem);

                background-image: url('/assets/web/pixel-night.jpg');
                background-repeat: no-repeat;
                background-position: 0%;
                background-size: auto 80%;

                animation: bg-paralax 20s infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }

            h1 {
                margin:  0 0 var(--vertical-space);
            }

            .recorded {
                font-size: 1.6rem;
                line-height: 140%;
                text-align: center;
            }

            .submitContainer {
                display: flex;
                justify-content: center;
            }

            input[type="submit"] {
                border: solid 0.1rem #606060;
                border-radius: 0.8rem;
                background-color: #2e2e50;
                color: white;
                font-size: 2.4rem;
                line-height: 120%;
                padding: 1rem 2.4rem;
            }

            input[type="submit"]:active {
                background-color: #1e1e36;
            }
        </style>
    </head>

    <body>
        <p class="recorded">Time for team "{{ .Team }}" has been recorded!</p>
    </body>
</html> 